<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Sign Up!{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  
  {% if is_student %}

    <h2>Students cannot do this!</h2>

  {% else %}
  
  <h2>Create A QR Code</h2>

  <form action="http://localhost:8000/app/createLecture" method="post">
    <label for="choice">Which Class:</label><br>

    {% for course in courses %}

        <input type="radio" id="choice{{ forloop.counter }}" name="choice" value="{{course.auto_increment_id}}">
        <label for="choice{{ forloop.counter }}">{{course.auto_increment_id}} - {{course.name}}</label><br>

    {% endfor %}
    
    <input type="submit" value="Submit">
</form>
{% endif %}

{% endif %}
{% endblock %}
