<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Create Course{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  
  {% if is_student %}

  	<h2>Students cannot do this!</h2>

  {% else %}

  	  <h2>Create A New Course</h2>

	  <form action="http://localhost:8000/app/createCourse" method="post">

  <label for="course-name">Course Name:</label><br>
  <input type="text" id="course-name" name="course-name"><br><br>

  <label for="start-time">Start Time:</label><br>
  <input type="time" id="start-time" name="start-time"><br><br>

  <label for="end-time">End Time:</label><br>
  <input type="time" id="end-time" name="end-time"><br><br>

  <label>Days of the Week:</label><br>
  <input type="checkbox" id="day-mon" name="day-mon" value="Monday">
  <label for="day-mon">Monday</label><br>
  <input type="checkbox" id="day-tue" name="day-tue" value="Tuesday">
  <label for="day-tue">Tuesday</label><br>
  <input type="checkbox" id="day-wed" name="day-wed" value="Wednesday">
  <label for="day-wed">Wednesday</label><br>
  <input type="checkbox" id="day-thu" name="day-thu" value="Thursday">
  <label for="day-thu">Thursday</label><br>
  <input type="checkbox" id="day-fri" name="day-fri" value="Friday">
  <label for="day-fri">Friday</label><br>

  <input type="submit" value="Submit">
</form>

</body>
</html>
	  </form>

  {% endif %}

{% else %}
  
  <h2>You need to be logged in to see this page</h2>

</form>

{% endif %}

{% endblock %}
